/*  your css code here. If applicable */
<style>
        /* Center align the main heading */
        h1 {
            text-align: center;
        }

        /* Table Styling */
        table {
            border: 1px solid black;
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
        }

        td, th {
            border: 1px solid black;
            padding: 1px;
            text-align: center;
        }
/* 
        .middle {
            margin: 0 auto;
        }

        /* Center and Right Align Classes */
        /* .center {
            text-align: center;
        }

        .right {
            text-align: right;
        } 
 */
        /* Background Colors */
        /* .green {
            background-color: green;
            color: white;
        }

        .blue {
            background-color: blue;
            color: white;
        } */
    </style>